host: '0.0.0.0'
port: 5001
debug: false

suppress_ansible_output: false
omit_event_data: false
only_failed_event_data: false

metrics_port: 9091

playbook_dir: '/etc/ansible-link/playbooks'
inventory_file: '/etc/ansible-link/hosts'
job_storage_dir: '/data/jobs'
log_level: 'INFO'
playbook_whitelist: []

# Optional webhook configuration
# webhook:
#   url: "https://hooks.slack.com/services/YOUR/SLACK/WEBHOOK"
#   type: "slack"
#   timeout: 5