Host *
        AddKeysToAgent yes
        IdentitiesOnly yes
        IdentityFile /etc/ansible-link/ssh_key
        ForwardAgent yes
        PreferredAuthentications publickey
        StrictHostKeyChecking=no

Host nfs
    Hostname {{ ansible_link__nfs_ip }}
    User ec2-user
