version: "3.3"

networks:
  {{ ansible_link__network }}:
    external: true

configs:
  ansible_link_config:
    file: ./config.yml
  ansible_link_hosts:
    file: ./hosts.yml
  ansible_link_ssh_config:
    file: ./ssh-config.yml

services:
  ansible-link:
    image: python:3.9-slim
    environment:
      - ANSIBLE_CONFIG=/etc/ansible-link/ansible.cfg
      - ANSIBLE_PRIVATE_KEY_FILE=/etc/ansible-link/ssh_key
      - ANSIBLE_HOST_KEY_CHECKING=False
    command: >
      sh -c "
        # Install dependencies
        apt-get update && apt-get install -y wget unzip ssh-client python3-pip &&
        pip3 install ansible &&
        wget https://github.com/lfkdev/ansible-link/releases/download/v2.1.1/ansible-link-2.1.1.zip &&
        unzip ansible-link-2.1.1.zip &&
        pip3 install -r requirements.txt &&
        pip3 install gunicorn &&
        # Replace default config with custom config
        cp /tmp/config.yml /config.yml &&
        cp -n /config.yml /etc/ansible-link/config.yml &&
        cp -n /hosts /etc/ansible-link/hosts &&
        mkdir /root/.ssh/ &&
        cp -n /ssh-config /root/.ssh/config  &&
        # Start the API
        python3 -m gunicorn --workers 1 --bind 0.0.0.0:5001 wsgi:application
      "
    configs:
      - source: ansible_link_config
        target: /tmp/config.yml
      - source: ansible_link_hosts
        target: hosts
      - source: ansible_link_ssh_config
        target: ssh-config
    deploy:
{% if traefik %}
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network={{ ansible_link__network }}"
        - "traefik.http.routers.ansible-link-http.entrypoints=web"
        - "traefik.http.routers.ansible-link-http.middlewares=https-redirect"
        - "traefik.http.routers.ansible-link-http.rule=Host(`{{ ansible_link__domain }}`)"
        - "traefik.http.routers.ansible-link-https.entrypoints=websecure"
        - "traefik.http.routers.ansible-link-https.rule=Host(`{{ ansible_link__domain }}`)"
        - "traefik.http.routers.ansible-link-https.tls=true"
        - "traefik.http.routers.ansible-link-https.tls.certresolver=le"
        - "traefik.http.routers.ansible-link-https.tls.domains[0].main={{ ansible_link__domain }}"
        - "traefik.http.services.ansible-link.loadbalancer.server.port=5001"
        - "traefik.http.routers.ansible-link-https.service=ansible-link"
        - "traefik.http.middlewares.ansible-auth.basicauth.users={{ ansible_link__basicauth_passwords | join(',') }}"
        - "traefik.http.routers.ansible-link-https.middlewares=ansible-auth"
{% endif %}
      mode: replicated
      placement:
        constraints:
{% if ansible_link__label %}
          - "node.labels.{{ ansible_link__label }} == true"
{% endif %}
          - node.role == manager
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    networks:
      - {{ ansible_link__network }}
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
        mode: ingress
    volumes:
{% if ansible_link__nfs %}
      - type: volume
        source: ansible-link_dir
        target: /etc/ansible-link
{% else %}
      - {{ ansible_link__deploy_dir }}/data:/data
{% endif %}

{% if ansible_link__nfs %}
volumes:
  ansible-link_dir:
    driver_opts:
      type: 'nfs'
      o: 'addr={{ ansible_link__nfs_ip }},nfsvers=4,rw'
      device: ':{{ ansible_link__nfs_dir }}'
{% endif %}