version: '3.8'

secrets:
  ansible-ssh-key:
    external: true
    name: ansible-link-ssh-key

configs:
  ansible-link-config:
    external: true
    name: ansible-link-config
  ansible-link-hosts:
    external: true
    name: ansible-link-hosts
  ansible-link-ssh-config:
    external: true
    name: ansible-link-ssh-config
  ansible-link-ssh-key-pub:
    external: true
    name: ansible-link-ssh-key-pub

services:
  ansible-link:
    image: dzangolab/ansible-link:0.2
    ports:
      - target: 5001
        published: 5001
        protocol: tcp
        mode: ingress
    configs:
      # Mount configs directly where ansible-link expects them
      - source: ansible-link-config
        target: config.yml  # Direct mount
      - source: ansible-link-hosts
        target: /etc/ansible-link/hosts       # Direct mount
      - source: ansible-link-ssh-config
        target: /etc/ansible-link/ssh_key     # Direct mount
      - source: ansible-link-ssh-config
        target: /root/.ssh/config     # Direct mount
    secrets:
      - source: ansible-ssh-key
        target: /root/.ssh/id_rsa     # Direct mount
    volumes:
      - ansible-link-playbooks:/etc/ansible-link/playbooks
    environment:
      - ANSIBLE_PRIVATE_KEY_FILE=/root/.ssh/id_rsa
      - ANSIBLE_CONFIG=/etc/ansible-link/ansible.cfg
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      labels:
        - "traefik.enable=true"
        - "traefik.docker.network=public"
        - "traefik.http.routers.ansible-link-http.entrypoints=web"
        - "traefik.http.routers.ansible-link-http.middlewares=https-redirect"
        - "traefik.http.routers.ansible-link-http.rule=Host(`ansible-link.dzango.dev`)"
        - "traefik.http.routers.ansible-link-https.entrypoints=websecure"
        - "traefik.http.routers.ansible-link-https.rule=Host(`ansible-link.dzango.dev`)"
        - "traefik.http.routers.ansible-link-https.tls=true"
        - "traefik.http.routers.ansible-link-https.tls.certresolver=le"
        - "traefik.http.routers.ansible-link-https.tls.domains[0].main=ansible-link.dzango.dev"
        - "traefik.http.services.ansible-link.loadbalancer.server.port=5001"
        - "traefik.http.routers.ansible-link-https.service=ansible-link"
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
        window: 120s
    networks:
      - public

volumes:
  ansible-link-playbooks:
    driver_opts:
      type: 'nfs'
      o: 'addr=10.0.160.189,nfsvers=4,rw'
      device: ':/mnt/nfs/ansible-link/playbooks'

networks:
  public:
    external: true